<launch>
    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find my_shadow_tc_openai_example)/config/shadow_tc_openai_qlearn_params.yaml" />
    <!-- Launch the training system -->
    <node pkg="my_shadow_tc_openai_example" name="shadow_tc_learn_to_pick_ball_qlearn" type="start_qlearning.py" output="screen"/>
</launch>