<launch>
    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find my_moving_cube_pkg)/config/my_one_disk_walk_openai_params.yaml" />
    <!-- Launch the training system -->
    <node pkg="my_moving_cube_pkg" name="movingcube_gym" type="start_qlearning.py" output="screen"/>
</launch>