<launch>
    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find my_sumitxl_openai_example)/config/my_sumitxl_openai_qlearn_params.yaml" />
    <!-- Launch the training system -->
    <node pkg="my_sumitxl_openai_example" name="sumitxl_room_qlearn" type="test_sensors.py" output="screen"/>
</launch>