<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node name="follow_line_pid" pkg="pid" type="controller" >
      <param name="Kp" value="1.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.1" />
      <param name="upper_limit" value="2.0" />
      <param name="lower_limit" value="-2.0" />
      <param name="windup_limit" value="2.0" />
      <param name="max_loop_frequency" value="10.0" />
      <param name="min_loop_frequency" value="10.0" />
    </node>
    
    <node name="pid_node" pkg="follow_line_tc_pkg" type="pid_control.py" output="screen"/>
    
    
    <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"                                                                                              
    args="/control_effort/data /state/data /setpoint/data" />                                                                                         
                                                                                                                                                      
    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />
    
    
</launch>