<?xml version="1.0"?>

<model>
  <name>line plane</name>
  <version>1.0</version>
  <sdf version="1.3">model.sdf</sdf>

  <author>
    <name>Miguel Angel Rodriguez</name>
    <email>duckfrost@theconstructsim.com</email>
  </author>

  <description>
    A line textured plane.
  </description>

</model>
